build/
*.o
*.db
*.log

# C++ specific
*.out
*.exe
*.app
*.so
*.dll
*.dylib
*.d
*.slo
*.lo
*.obj

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and system files
.vscode/
.idea/
.DS_Store
.env
*~
.*.swp
.*.swo

# Dependencies
/node_modules/
__pycache__/
*.py[cod]

# virtual environments
venv/
*__pycache__/*